* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(0, 123, 255, 0.6)), url('/static/images/login-bg.jpg') no-repeat center center fixed;
    height: 100vh; /* Mantiene el fondo azul ocupando toda la altura */
}

.container {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con transparencia */
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto;  /* Centra el contenedor horizontalmente */
    position: relative; /* Para centrar verticalmente el contenedor con margin */
    top: 10%; /* Empuja el contenedor hacia abajo */
    transform: translateY(-20px); /* Compensa la altura del contenedor */
}

h2 {
    margin-bottom: 20px;
    color: #f1eeee;
}
.mt-3 {
    color: white /* Cambia el color para todo el texto */
}

.mt-3 a {
    color: #004aad; /* Mantén un color diferente para el enlace */
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #f7f7f7;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #0056b3;
}
